@model CategorySearchViewModel

<style>
    * {
        box-sizing: border-box;
    }

    #myInput {
        background-image: url('/css/searchicon.png');
        background-position: 10px 10px;
        background-repeat: no-repeat;
        width: 100%;
        font-size: 16px;
        padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
    }

    #myTable {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #ddd;
        font-size: 18px;
    }

        #myTable th, #myTable td {
            text-align: left;
            padding: 12px;
        }

        #myTable tr {
            border-bottom: 1px solid #ddd;
        }

            #myTable tr.header, #myTable tr:hover {
                background-color: #f1f1f1;
            }
</style>

<form asp-controller="Category" asp-action="Search">

    <select asp-for="CategoryId"
            asp-items="@(new SelectList(Model.Categories,"CategoryId", "Name" ))">
        <option>Please select one</option>
    </select>
    <div><label>Price Min </label><input asp-for="MinPrice" value="0" /></div>
    <div><label>Price Max </label><input asp-for="MaxPrice" value="0" /></div>
    <input type="submit" value="Search" />
</form>



@if (Model.Hampers != null)
{
    <table class="myTable" id="myTable">
        <tr class="header">
            <td>Picture</td>
            <td>Name</td>
            <td>Details</td>
            <td>Price</td>
            <td>Category Details</td>
        </tr>

        @foreach (var item in Model.Hampers)
        {

            <tr>
                <td><img style="height:60px; width:70%;" src="~/images/@item.Image" /></td>
                <td>@item.Name</td>
                <td>@item.Details</td>
                <td>@item.Price</td>
                <td>@Html.ActionLink("more", "Details", "Category", new { id = item.CategoryId })</td>
                <td>@Html.ActionLink("Order", "Create", "Order", new { id = item.HamperId })</td>
            </tr>
        }

    </table>
}